/* 管理unit-field的style */
.unit-field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);  /* 修改为8列 */
    grid-template-rows: repeat(2, 1fr);  /* 修改为2行 */
    gap: 10px;
    width: 800px;  /* 根据列数调整宽度 */
    height: 200px;  /* 根据行数调整高度 */
    position: absolute;  /* 添加这一行 */
    bottom: 40px;  /* 添加这一行 */
    left: 0;  /* 添加这一行 */
    right: 120px;  /* 添加这一行 */
    margin: auto;  /* 添加这一行 */
    user-select: none;
}

.unit-battlefield {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    width: 800px;
    height: 800px;  /* 修改为800px以使其成为正方形 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    user-select: none;
}

.unit-store {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;  /* 添加这一行 */
    top: 50px;  /* 添加这一行 */
    left: 100px;  /* 添加这一行 */
    user-select: none;
}

#unit-field-show {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 100px;
}

/* #unit-field-player {
    margin-bottom: 200px;
    margin-left: 50px;
} */

/* unit-cell  unit-cell-filled  black-cell  white-cell  move-cell  attack-cell  range-attack-cell*/
.mask-base {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    user-select: none;
}

.unit-cell {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #000;
    user-select: none;
}

.unit-cell.unit-cell-filled {
    background-color: #999999;  /* 修改这一行为你想要的颜色 */
}

.unit-cell.white-cell.unit-cell-filled {
    background-color: #e3e3e3;  /* 修改这一行为你想要的颜色 */
}

.unit-cell.black-cell.unit-cell-filled {
    background-color: #2a2a2a;  /* 修改这一行为你想要的颜色 */
}

.unit-cell.white-cell {
    background-color: white;
}

.unit-cell.black-cell {
    background-color: black;
}

.mask-base.mark-enemy {
    background-color: crimson;
    z-index: 2;
}
.mask-base.mark-yourself{
    background-color: lightseagreen;
    z-index: 2;
}
.mask-base.from{
    animation: blinkFrom 2s infinite;
}
.mask-base.to{
    animation: blinkTo 2s infinite;
}

@keyframes blinkFrom {
    0% {opacity: 0;}
    49.99% {opacity: 0;}
    50% {opacity: 0.5;}
    99.99% {opacity: 0.5;}
    100% {opacity: 0;}
}

@keyframes blinkTo {
    0% {opacity: 0.5;}
    49.99% {opacity: 0.5;}
    50% {opacity: 0;}
    99.99% {opacity: 0;}
    100% {opacity: 0.5;}
}

/* .mask-base.unit-cell-attack {
    background-color: red !important;
} 

.mask-base.unit-cell-move {
    background-color: blue !important;
}

.mask-base.unit-cell-attack.unit-cell-move {
    background-color: purple !important;
}

.mask-base.unit-cell-noblock {
    border-style: dashed;
    border-width: 5px;
    border-color: lightgreen;
    box-sizing: border-box;
} */

.unit-cell.unit-cell-attack {
    background-color: red !important;
    /* border-style: dashed;
    border-width: 4px;
    border-color: #FFFF99; 
    animation: scale-pulse 2s infinite; */
} 
.unit-cell.unit-cell-move {
    background-color: blue !important;
}
.unit-cell.unit-cell-attack.unit-cell-move {
    background-color: purple !important;
}
.unit-cell.unit-cell-noblock {
    border-style: dashed;
    border-width: 5px;
    border-color: lightgreen;
    box-sizing: border-box;
}

@keyframes scale-pulse {
    0%   {transform: scale(1);} /* 开始时，元素保持原始大小 */
    50%  {transform: scale(0.95);} /* 中间时，元素变小 */
    100% {transform: scale(1);} /* 结束时，元素恢复原始大小 */
}

/* 管理unit的style */
.unit {
    width: 85px;
    height: 85px;
    position: absolute;
    background-color: lightblue;
    border: 4px dashed black;
    border-radius: 50%;
    outline: 3px solid lightblue;
    box-sizing: border-box;
    z-index: 1;
}

.unit.in-battle{
    transition: top 0.5s, left 0.5s;
}

.unit.unit-enemy {
    background-color: lightcoral;
    outline: 3px solid lightcoral;
}

.unit:hover {
    filter: saturate(65%);  /* 修改这一行为你想要的饱和度 */
    cursor: grab;
    /* background-color: #d4d4d4; */
}

.unit-shape {
    width: 60px;  /* 修改为20px */
    height: 60px;  /* 修改为20px */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    pointer-events: none;
    user-select: none;
    border-radius: 50%;
}

.unit.unit-heavy {
    border: 4px solid black;
}

/* .unit-shape.triangle {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 45px solid red;
}

.unit-shape.square {
    background-color: blue;
}

.unit-shape.circle {
    border-radius: 50%;
    background-color: green;
} */

.unit-attack, .unit-health, .unit-cost {
    position: absolute;
    user-select: none;  /* 添加这一行 */
}

.unit-attack {
    left: 0;
    bottom: 0;
}

.unit-health {
    right: 0;
    bottom: 0;
}

.unit-cost {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    background-color: rgb(255, 227, 18);
    padding: 2px;
    font-size: 12px;
}

#gold-amount {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 24px; /* 增大字体大小 */
    color: #FFD700; /* 金色字体 */
    text-shadow: 2px 2px 4px #000000; /* 添加文字阴影 */
    user-select: none;
}

.right-bottom-blue {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #007BFF;
    text-shadow: 0 0 15px #007BFF, 0 0 30px #007BFF, 0 0 45px #007BFF, 0 0 60px #007BFF;
}

.right-bottom-red {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #FF0000;
    text-shadow: 0 0 15px #FF0000, 0 0 30px #FF0000, 0 0 45px #FF0000, 0 0 60px #FF0000;
}